 body{
    background-color: aqua;
 }
.D{
    font-family: 'Times New Roman', Times, serif;
    color: black;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 50px;
}
.H{
    background-color: black;
    height: 3px;
    width: 100%;
}
